@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@using LocalDropshipping.Web.Data.Entities;
@model List<Category>;
@{
	ViewData["Title"] = "Category Listing";
}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		  content="Fastkart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
	<meta name="keywords"
		  content="admin template, Fastkart admin template, dashboard template, flat admin template, responsive admin template, web app">
	<meta name="author" content="pixelstrap">

	<title>Fastkart - All Category</title>
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
		  rel="stylesheet">

	<!-- Fontawesome css -->
	<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />

	<!-- Linear Icon css -->
	@*	<link rel="stylesheet" href="assets/css/linearicon.css">
	*@
	<link href="~/assets/css/linearicon.css" rel="stylesheet" />

	<!-- remixicon css -->
	@*	<link rel="stylesheet" type="text/css" href="assets/css/remixicon.css">
	*@
	<link href="~/assets/css/remixicon.css" rel="stylesheet" />

	<!-- Data Table css -->
	<link href="~/assets/css/datatables.css" rel="stylesheet" />

	<!-- Themify icon css-->
	<link href="~/assets/css/vendors/themify.css" rel="stylesheet" />

	<!-- Feather icon css -->
	<link href="~/assets/css/vendors/feather-icon.css" rel="stylesheet" />

	<!-- Plugins css -->
	<link href="~/assets/css/vendors/scrollbar.css" rel="stylesheet" />
	<link href="~/assets/css/vendors/animate.css" rel="stylesheet" />

	<!-- Bootstrap css -->
	<link href="~/assets/css/vendors/bootstrap.css" rel="stylesheet" />

	<!-- App css -->
	<link href="~/assets/css/style.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
	<a href="add-new-category.html"
	   class="align-items-center btn btn-theme d-flex">
		<i data-feather="plus-square"></i>Add New
	</a>

	<div class="table-responsive category-table">
		<div>
			<table class="table all-package theme-table" id="table_id">
				<thead>
					<tr>
						<th>Product Name</th>

					</tr>
				</thead>

				<tbody>

					@foreach (var Category in Model)
					{
						<tr>
							<td>@Category.Name</td>


							<td>
								<ul>
									<li>
										<a href="javascript:void(0)" class="view-category" data-id="@Category.CategoryId">
											<i class="ri-eye-line"></i>
										</a>
									</li>

									<li>
										<a href="javascript:void(0)" class="edit-category" data-id="@Category.CategoryId">
											<i class="ri-pencil-line"></i>
										</a>
									</li>

									<li>
										<a href="javascript:void(0)" class="delete-category" data-id="@Category.CategoryId">
											<i class="ri-delete-bin-line"></i>
										</a>
									</li>
								</ul>
							</td>

						</tr>

						<!-- Add a placeholder to display the data -->
						<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Category Details</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p id="categoryDetails">Loading...</p>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="editCategoryLabel">Edit Category</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form id="editCategoryForm">
											<div class="mb-3">
												<label for="editCategoryName" class="form-label">Category Name</label>
												<input type="text" class="form-control" id="editCategoryName" name="name">
											</div>
											<input type="hidden" id="editCategoryId" name="id">
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" id="saveEditCategory">Save changes</button>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="addCategoryLabel">Add New Category</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<!-- Add your form here for adding a new category -->
										<form id="addCategoryForm">
											<div class="mb-3">
												<label for="categoryName" class="form-label">Category Name</label>
												<input type="text" class="form-control" id="categoryName" name="name">
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" id="saveNewCategory">Save</button>
									</div>
								</div>
							</div>
						</div>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>

<script>
	$(document).ready(function () {
		$(".view-category").click(function () {
			var categoryId = $(this).data("id");

			// Send an AJAX request to get the category details
			$.get("/api/Category/GetById/" + categoryId, function (data) {
				if (data) {
					// Update the modal with the category details
					$("#categoryDetails").html("Category ID: " + data.categoryId + "<br>Name: " + data.name);
				} else {
					$("#categoryDetails").html("Category not found.");
				}

				// Show the modal
				$("#categoryModal").modal("show");
			});
		});
		// Edit Category
		$(".edit-category").click(function () {
			var categoryId = $(this).data("id");

			// Send an AJAX request to get the category details
			$.get("/api/Category/GetById/" + categoryId, function (data) {
				if (data) {
					// Fill the edit form with category details
					$("#editCategoryName").val(data.name);
					$("#editCategoryId").val(data.categoryId);

					// Show the edit modal
					$("#editCategoryModal").modal("show");
				} else {
					alert("Category not found.");
				}
			});
		});

		// Save Edit Category
		$("#saveEditCategory").click(function () {
			var categoryId = $("#editCategoryId").val();
			var categoryName = $("#editCategoryName").val();

			// Send an AJAX request to update the category
			$.ajax({
				url: "/api/Category/UpdateCategory/" + categoryId,
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ id: categoryId, name: categoryName }),
				success: function () {
					// Close the edit modal
					$("#editCategoryModal").modal("hide");

					// You can optionally reload the category list here
					// Example: window.location.reload();
				},
				error: function () {
					alert("Failed to update category.");
				}
			});
		});

		$(".delete-category").click(function () {
			var categoryId = $(this).data("id");

			// Ask for confirmation before deleting
			if (confirm("Are you sure you want to delete this category?")) {
				// Send an AJAX request to delete the category
				$.ajax({
					url: "/api/Category/DeleteCategory/" + categoryId,
					type: "DELETE",
					success: function () {
						// You can optionally remove the deleted row from the table
						$(this).closest("tr").remove();

						// You can also optionally reload the category list here
						// Example: window.location.reload();
					},
					error: function () {
						alert("Failed to delete category.");
					}
				});
			}
		});
		// Add New Category
		$("#addCategoryButton").click(function () {
			// Send an AJAX request to create a new category
			$.ajax({
				url: "/Category/AddCategory", // Replace with the actual URL of your controller's action
				type: "POST", // Use the appropriate HTTP method
				contentType: "application/json",
				success: function () {
					// Inform the user of success
					alert("Category added successfully.");

					// Optionally, you can reload the category list or take other actions
					// Example: window.location.reload();
				},
				error: function () {
					alert("Failed to add a new category.");
				}
			});
		});
	});
</script>
