################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocalDropshipping.Web/bin
/LocalDropshipping.Web/obj
/.vs
*/wwwroot/images
*/wwwroot/videos