@model IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>

@if (Model != null && Model.Any())
{
    <ul class="cart-list">
        @foreach (var cart in Model)
        {
            <li class="product-box-contain">
                <div class="drop-cart">
                    <a href="product-left-thumbnail.html" class="drop-image">
                        <img src="@cart.Image"
                             class="blur-up lazyload" alt="">
                    </a>

                    <div class="drop-contain">
                        <a href="product-left-thumbnail.html">
                            <h5>@cart.Name</h5>
                        </a>
                        <h6 class="text-dark"><span>@cart.Quantity x</span>Rs.@cart.Price/-</h6>
                        <button class="close-button close_button cartDel" data-id="@cart.ProductId">
                            <i class="fa-solid fa-xmark "></i> 
                        </button>
                       
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="price-box">
        <h5>Total :</h5>
        <h4 class="theme-color fw-bold">Rs.@ViewBag.total/-</h4>
    </div>

    <div class="button-group">
        <a asp-action="Cart" asp-controller="Seller" class="btn btn-sm cart-button">View Cart</a>
        <a asp-action="Checkout" asp-controller="Seller" class="btn btn-sm cart-button theme-bg-color
                                                        text-white">Checkout</a>
    </div>
}
else
{
    <div class="text-center">
        <p class="text-dark">Shopping cart is empty!</p>

        <div class="button-group" style="justify-content: center">
            <a asp-action="Shop" asp-controller="Seller" class="btn btn-sm cart-button">Continue Shopping</a>
        </div>
    </div>

}
<script>
    $(".cartDel").click(function () {
        var itemId = $(this).data("id");
        var formData = new FormData();
        formData.append("id", itemId)
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/DeleteFromCart",
                success: function (data) {
                    location.reload();
                    $('#exampleModal').html(data);
                    // $('#spnCart').html($(data).find('#cartList tbody tr').length);
                    $('#exampleModal').modal({
                        backdrop: false
                    });
                },
                error: function (data) {
                    alert(data);
                }

            }
        );
        return false;
    });
    // $("#cartDel").click(function () {
    //     debugger;
    //     console.log("Hello");
    //     alert("Hello World");
    //     // $.ajax({
    //     //     type: 'POST',
    //     //     contentType: 'application/json; charset=utf-8',
    //     //     url: '/Seller/GetCartItems',
    //     //     success: function (data) {
    //     //         $('#exampleModal').html(data);
    //     //         $('#exampleModal').modal({
    //     //             backdrop: false
    //     //         });
    //     //     },
    //     //     error: function (data) {
    //     //         alert("Error is facing for fetching data");
    //     //     }
    //     // });
    // });
</script>



