@using LocalDropshipping.Web.Data.Entities;
@model IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@using Newtonsoft.Json;
@{
	var data = Context.Session.GetString("cart");
	List<OrderItem> cartItems;
	int countCart = 0;
	if (data == null)
	{
		countCart = 0;
	}
	else
	{
		var data2 = Context.Session.GetString("cart");
		List<OrderItem> dataCart = JsonConvert.DeserializeObject<List<OrderItem>>(data2);
		countCart = dataCart.Count();
		cartItems = dataCart;

	}

}
<!DOCTYPE htm"viewport" content="width=device-width" />
<head>
	<title>@ViewBag.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Fastkart">
	<meta name="keywords" content="Fastkart">
	<meta name="author" content="Fastkart">	
	<link rel="icon" href="../assets/images/favicon/6.png" type="image/x-icon">
	@* <title>On-demand last-mile delivery</title> *@
	    <title>@ViewBag.Title</title>

	<!-- Google font -->
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
		  rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
		  rel="stylesheet">

	<!-- bootstrap css -->
	<link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

	<!-- wow css -->
	<link rel="stylesheet" href="../assets/css/animate.min.css" />
	<link href="~/css/site.css" rel="stylesheet" />

	<!-- font-awesome css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

	<!-- feather icon css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

	<!-- slick css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">

	<!-- Iconly css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">

	<!-- Template css -->
	<link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<!-- latest jquery-->
	<script src="../assets/js/jquery-3.6.0.min.js"></script>

	@* For Logout vModal *@
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css">


	<!-- jquery ui-->
	<script src="../assets/js/jquery-ui.min.js"></script>
</head>

<body class="theme-color-4 bg-gradient-color container-fluid"> <!--Add Container fluid class in body-->

	<!-- Loader Start -->
	<div class="fullpage-loader">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<!-- Loader End -->
	<!-- Header Start -->

	<header> <!--class="pb-0 fixed-header" -->  
	
		<div class="top-nav top-header">
			<div class="container-fluid-xs">
				<div class="row">
					<div class="col-12">
						<div class="navbar-top">
							<button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
									data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
								<span class="navbar-toggler-icon navbar-toggler-icon-2">
									<i class="fa-solid fa-bars"></i>
								</span>
							</button>
						<div class="middle-box">
                                <div class="location-box" style="padding:12px 25px">
										<button class="btn location-button">

										<a asp-action="SellerDashboard" asp-controller="Seller" id="Colour">DashBoard</a>


										</button>
								</div>

                                <div class="search-box">
                                    <div class="input-group">
										<form asp-controller="Seller" asp-action="FilterPage" method="get" class="d-flex mb-0">
                                        <input type="search" name="searchString" class="form-control" placeholder="I'm searching for..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn bg-theme" type="submit" id="button-addon2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
										</form>
                                    </div>
                                </div>
                            </div>
								<div class="rightside-box">
									<div class="search-full">
										<div class="input-group">
											<span class="input-group-text">
												<i data-feather="search" class="font-light"></i>
											</span>
											<input type="text" class="form-control search-type" placeholder="Search here..">
											<span class="input-group-text close-search">
												<i data-feather="x" class="font-light"></i>
											</span>
										</div>
									</div>
									<ul class="right-side-menu">
										<li class="right-side">
											<div class="delivery-login-box">
												<div class="delivery-icon">
													<div class="search-box">
														<i data-feather="search"></i>
													</div>
												</div>
											</div>
										</li>
										<li class="right-side">
											<a asp-controller="Public" asp-action="ContactUs" class="delivery-login-box">
												<div class="delivery-icon">
													<i data-feather="phone-call"></i>
												</div>
												<div class="delivery-detail">
													<h6>24/7 Delivery</h6>
													<h5>+92 320 1234567</h5>
												</div>
											</a>
										</li>
										<li class="right-side">
											<a asp-action="Wishlist" asp-controller="Seller" class="btn p-0 position-relative header-wishlist">
												<i data-feather="heart"></i>
											</a>
										</li>
										@Html.Partial("_ShoppingCart")
										
										<li class="right-side onhover-dropdown">
											<div class="delivery-login-box">
												<div class="delivery-icon">
													<i data-feather="user"></i>
												</div>
												<div class="delivery-detail">
													<h6>Hello,</h6>
													<h5>My Account</h5>
												</div>
											</div>

							
									   <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                   <a asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a>
                                                </li>

												  <li class="product-box-contain">
                                                   <a asp-action="Shop" asp-controller="Seller">Shop</a>
                                                </li>

												<li class="product-box-contain">
                                                   <a asp-action="Wishlist" asp-controller="Seller">Wishlist</a>
                                                </li>

												@* <li class="product-box-contain">
                                                    <a asp-action="ForgotPassword" asp-controller="Seller">Forgot Password</a>
                                                </li> *@

												<li class="product-box-contain">
                                     
                                                    @* <a href="login.html">Log In</a> *@    @* class="nav-link" *@
                                                    @* <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pills-out-tab" role="tab">Logout</button> *@
                                            
													  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                       href="javascript:void(0)">Logout
                                                    </a>
												


												
												</li>

                                                
												  
												
                                                
                                            </ul>
                                        </div>
										</li> 
									</ul>
								</div>
							
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->
	<!-- mobile fix menu start -->
	<div class="mobile-menu d-md-none d-block mobile-cart">
		<ul>
			<li class="active">
				<a href="index.html">
					<i class="iconly-Home icli"></i>
					<span>Home</span>
				</a>
			</li>

			<li class="mobile-category">
				<a href="javascript:void(0)">
					<i class="iconly-Category icli js-link"></i>
					<span>Category</span>
				</a>
			</li>

			<li>
				<a href="search.html" class="search-box">
					<i class="iconly-Search icli"></i>
					<span>Search</span>
				</a>
			</li>

			<li>
				<a href="wishlist.html" class="notifi-wishlist">
					<i class="iconly-Heart icli"></i>
					<span>My Wish</span>
				</a>
			</li>

			<li>
				<a href="cart.html">
					<i class="iconly-Bag-2 icli fly-cate"></i>
					<span>Cart</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- mobile fix menu end -->
	<!-- Product Section Start -->
	
					@RenderBody()

				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->
	<!-- Footer Section Start -->
	<footer class="footer-sm">
		<div class="container-fluid-xs">
			<div class="sub-footer">
				<div class="reserve">
					<h6 class="text-content">©2022 Fastkart All rights reserved</h6>
				</div>

				@* <div class="payment">
					<img src="../assets/images/payment/1.png" class="blur-up lazyload" alt="">
				</div> *@
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
	<!-- Quick View Modal Box Start -->
	<div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header p-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="row g-sm-4 g-2">
						<div class="col-lg-6">
							<div class="slider-image">
								<img src="../assets/images/product/category/1.jpg" class="img-fluid blur-up lazyload"
									 alt="">
							</div>
						</div>

						<div class="col-lg-6">
							<div class="right-sidebar-modal">
								<h4 class="title-name">Peanut Butter Bite Premium Butter Cookies 600 g</h4>
								<h4 class="price">$36.99</h4>
								<div class="product-rating">
									<ul class="rating">
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star"></i>
										</li>
									</ul>
									<span class="ms-2">8 Reviews</span>
									<span class="ms-2 text-danger">6 sold in last 16 hours</span>
								</div>

								<div class="product-detail">
									<h4>Product Details :</h4>
									<p>
										Candy canes sugar plum tart cotton candy chupa chups sugar plum chocolate I love.
										Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
										Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
										muffin I love carrot cake sugar plum dessert bonbon.
									</p>
								</div>

								<ul class="brand-list">
									<li>
										<div class="brand-box">
											<h5>Brand Name:</h5>
											<h6>Black Forest</h6>
										</div>
									</li>

									<li>
										<div class="brand-box">
											<h5>Product Code:</h5>
											<h6>W0690034</h6>
										</div>
									</li>

									<li>
										<div class="brand-box">
											<h5>Product Type:</h5>
											<h6>White Cream Cake</h6>
										</div>
									</li>
								</ul>

								<div class="select-size">
									<h4>Cake Size :</h4>
									<select class="form-select select-form-size">
										<option selected>Select Size</option>
										<option value="1.2">1/2 KG</option>
										<option value="0">1 KG</option>
										<option value="1.5">1/5 KG</option>
										<option value="red">Red Roses</option>
										<option value="pink">With Pink Roses</option>
									</select>
								</div>

								<div class="modal-button">
									<button onclick="location.href = 'cart.html';"
											class="btn btn-md add-cart-button icon">
										Add
										To Cart
									</button>
									<button onclick="location.href = 'product-left.html';"
											class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
										View More Details
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Quick View Modal Box End -->
	<!-- Location Modal Start -->
	<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
					<p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="location-list">
						<div class="search-input">
							<input type="search" class="form-control" placeholder="Search Your Area">
							<i class="fa-solid fa-magnifying-glass"></i>
						</div>

						<div class="disabled-box">
							<h6>Select a Location</h6>
						</div>

						<ul class="location-select custom-height">
							<li>
								<a href="javascript:void(0)">
									<h6>Alabama</h6>
									<span>Min: $130</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Arizona</h6>
									<span>Min: $150</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>California</h6>
									<span>Min: $110</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Colorado</h6>
									<span>Min: $140</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Florida</h6>
									<span>Min: $160</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Georgia</h6>
									<span>Min: $120</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Kansas</h6>
									<span>Min: $170</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Minnesota</h6>
									<span>Min: $120</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>New York</h6>
									<span>Min: $110</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Washington</h6>
									<span>Min: $130</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Location Modal End -->
	
	<!-- Deal Box Modal Start -->
	<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<div>
						<h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
						<p class="mt-1 text-content">Recommended deals for you.</p>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="deal-offer-box">
						<ul class="deal-offer-list">
							<li class="list-1">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>

							<li class="list-2">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>

							<li class="list-3">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>

							<li class="list-1">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Deal Box Modal End -->
	
	<!-- Tap to top end -->

	   <!-- Log Out Modal Start -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel" style="color:black">Logging Out</h5>
                    <p style="color:black">Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <form asp-action="SellerLogout" asp-controller="Seller">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                            <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Log Out Modal End-->
	<!-- Bg overlay Start -->
	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->
	
	<!-- Bootstrap js-->
	<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
	<script src="../assets/js/bootstrap/popper.min.js"></script>

	<!-- feather icon js-->
	<script src="../assets/js/feather/feather.min.js"></script>
	<script src="../assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="../assets/js/lazysizes.min.js"></script>

	<!-- Slick js-->
	<script src="../assets/js/slick/slick.js"></script>
	<script src="../assets/js/slick/slick-animation.min.js"></script>
	<script src="../assets/js/slick/custom_slick.js"></script>

	<!-- Auto Height Js -->
	<script src="../assets/js/auto-height.js"></script>

	<!-- Fly Cart Js -->
	<script src="../assets/js/fly-cart.js"></script>

	<!-- Quantity js -->
	<script src="../assets/js/quantity-2.js"></script>

	<!-- WOW js -->
	<script src="../assets/js/wow.min.js"></script>
	<script src="../assets/js/custom-wow.js"></script>

	<!-- script js -->
	<script src="../assets/js/script.js"></script>

	<!-- thme setting js -->
	<script src="../assets/js/theme-setting.js"></script>





</body>
</html>
