@{
	ViewBag.Title = "FOC Fulfillment - Contact-Us Message";

}
<div style="text-align:center;margin: 100px 0px 100px 0px; ">
	<h2 style="text-transform:inherit">
		Thank you for contacting us. We will respond you soon!
	</h2>
</div>