@model ContactUsViewModel
@{
	ViewBag.Title = "FOC Fulfillment - Contact-Us";

}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themes.pixelstrap.com/fastkart/front-end/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Aug 2023 06:15:01 GMT -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Fastkart">
	<meta name="keywords" content="Fastkart">
	<meta name="author" content="Fastkart">
	<link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
	@* <title>Contact Us</title> *@

	<!-- Google font -->
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
		  rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
		  rel="stylesheet">

	<!-- bootstrap css -->
	<link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

	<!-- font-awesome css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

	<!-- feather icon css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

	<!-- slick css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">

	<!-- Iconly css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">

	<!-- Template css -->
	<link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>

	<!-- Loader Start -->
	<div class="fullpage-loader">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<!-- Loader End -->
	<!-- Header End -->
	<!-- mobile fix menu start -->
	<!-- Breadcrumb Section Start -->
	<section class="breadscrumb-section pt-0">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-12">
					<div class="breadscrumb-contain">
						<h2>Contact Us</h2>
						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item">
									<a href="index.html">
										<i class="fa-solid fa-house"></i>
									</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<!-- Contact Box Section Start -->
	<section class="contact-box-section">
		<div class="container-fluid-lg">
			<div class="row g-lg-5 g-3">
				<div class="col-lg-6">
					<div class="left-sidebar-box">
						<div class="row">
							<div class="col-xl-12">
								<div class="contact-image">
									<img src="../assets/images/inner-page/contact-us.png"
										 class="img-fluid blur-up lazyloaded" alt="">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="contact-title">
									<h3>Get In Touch</h3>
								</div>

								<div class="contact-detail">
									<div class="row g-4">
										<div class="col-xxl-6 col-lg-12 col-sm-6">
											<div class="contact-detail-box">
												<div class="contact-icon">
													<i class="fa-solid fa-phone"></i>
												</div>
												<div class="contact-detail-title">
													<h4>Phone</h4>
												</div>

												<div class="contact-detail-contain">
													<p>0123456789</p>
												</div>
											</div>
										</div>

										<div class="col-xxl-6 col-lg-12 col-sm-6">
											<div class="contact-detail-box">
												<div class="contact-icon">
													<i class="fa-solid fa-envelope"></i>
												</div>
												<div class="contact-detail-title">
													<h4>Email</h4>
												</div>

												<div class="contact-detail-contain">
													<p>support@focfulfillment.com</p>
												</div>
											</div>
										</div>

										<div class="col-xxl-6 col-lg-12 col-sm-6">
											<div class="contact-detail-box">
												<div class="contact-icon">
													<i class="fa-solid fa-location-dot"></i>
												</div>
												<div class="contact-detail-title">
													<h4>Pakistan Office</h4>
												</div>

												<div class="contact-detail-contain">
													<p>Lahore</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="title d-xxl-none d-block">
						<h2>Contact Us</h2>
					</div>
					<form asp-action="contactUs" class="row g-4">
						<div class="right-sidebar-box">
							<div class="row">
								<div class="col-xxl-6 col-lg-12 col-sm-6">
									<div class="mb-md-4 mb-3 custom-form">
										<label>Full Name</label>

										<div class="custom-input">

											<input asp-for="FullName" class="form-control" id="email" placeholder="Full Name">

											<span asp-validation-for="FullName" class="text-danger"></span>
											<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


											<i class="fa-solid fa-user"></i>
										</div>
									</div>
								</div>

								@*<div class="col-xxl-6 col-lg-12 col-sm-6">
								<div class="mb-md-4 mb-3 custom-form">
								<label for="exampleFormControlInput1" class="form-label">Last Name</label>
								<div class="custom-input">
								<input type="text" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Last Name">
								<i class="fa-solid fa-user"></i>
								</div>
								</div>
								</div>*@

								<div class="col-xxl-6 col-lg-12 col-sm-6">
									<div class="mb-md-4 mb-3 custom-form">
										<label>Email Address</label>
										<div class="custom-input">
											<input asp-for="EmailAddress" class="form-control" id="email" placeholder="Email Address">

											<span asp-validation-for="EmailAddress" class="text-danger"></span>
											<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
											<i class="fa-solid fa-envelope"></i>
										</div>
									</div>
								</div>

								<div class="col-xxl-6 col-lg-12 col-sm-6">
									<div class="mb-md-4 mb-3 custom-form">
										<label>Phone Number</label>
										<div class="custom-input">
											<input asp-for="PhoneNumber" class="form-control" type="number" id="Phone" placeholder="Phone Number" maxlength="15" oninput="javascript: if (this.value.length > this.maxLength) this.value =
                                            this.value.slice(0, this.maxLength);">
											<span asp-validation-for="PhoneNumber" class="text-danger"></span>
											<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

										
											<i class="fa-solid fa-mobile-screen-button"></i>
										</div>
									</div>
								</div>

								<div class="col-12">
									<div class="mb-md-4 mb-3 custom-form">
										<label>Message</label>
										<div class="custom-textarea">
											<textarea asp-for="Message" class="form-control" id="Msg" placeholder="Message"></textarea>
											<span asp-validation-for="Message" class="text-danger"></span>
											<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
											<i class="fa-solid fa-message"></i>
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-animation btn-md fw-bold ms-auto">Send Message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Box Section End -->
	<!-- Map Section Start -->
	<section class="map-section">
		<div class="container-fluid p-0">
			<div class="map-box">
				<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2994.3803116994895!2d55.29773782339708!3d25.222534631321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!3m2!1d25.2048493!2d55.2707828!4m0!5e1!3m2!1sen!2sin!4v1652217109535!5m2!1sen!2sin"
						style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>

	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->
	<!-- latest jquery-->
	<script src="../assets/js/jquery-3.6.0.min.js"></script>

	<!-- jquery ui-->
	<script src="../assets/js/jquery-ui.min.js"></script>

	<!-- Bootstrap js-->
	<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/bootstrap/popper.min.js"></script>
	<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

	<!-- feather icon js-->
	<script src="../assets/js/feather/feather.min.js"></script>
	<script src="../assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="../assets/js/lazysizes.min.js"></script>

	<!-- Wizard js -->
	<script src="../assets/js/wizard.js"></script>

	<!-- Slick js-->
	<script src="../assets/js/slick/slick.js"></script>
	<script src="../assets/js/slick/custom_slick.js"></script>

	<!-- script js -->
	<script src="../assets/js/script.js"></script>

	<!-- thme setting js -->
	<script src="../assets/js/theme-setting.js"></script>
</body>


<!-- Mirrored from themes.pixelstrap.com/fastkart/front-end/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Aug 2023 06:15:02 GMT -->
</html>