@{
    Layout = "_LayoutGuests";
    ViewBag.Title = "FOCFulFillment - Email Verified";

    ViewData["Title"] = "Email Verified";
}
<div class="sign-up-box">
    <div class="container">
        <div class="row my-4">
            <div class="col-12">
                <h3>Your email has been verified successfully</h3>
                <p></p>
                <p>Please <a asp-action="Login" asp-controller="Seller">Login</a> to continue...</p>
            </div>
        </div>
    </div>
</div>