@{
    ViewBag.Title = "FOC Fulfillment - Forgot Password Message";
}
<div style="text-align:center ; margin: 61px 0px 104px 0px;">
    <h2 style="text-transform:initial">
        Please  check your email
    </h2>
</div>

