@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center">
    <h1>  Thankyou for your order</h1>
    <button class="btn btn-light shopping-button text-dark">
        <i class="fa-solid fa-arrow-left-long"></i><a asp-controller="Seller" asp-action="Shop">Return To Shopping</a>
    </button>
</div>
