@{
    ViewBag.Title = "FOCFulFillment - Reports";
    Layout = "_LayoutSellerDashboard";

}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<body>
    <div class="title">
        <h2>My Report</h2>
        <span class="title-leaf title-leaf-gray">
            <svg class="icon-width bg-gray">
                <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use>
            </svg>
        </span>
    </div>

    <h3>Reports</h3>

</body>