@using Newtonsoft.Json
@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models;
@{
    ViewBag.Title = "FOCFulFillment - Seller Dashboard";

    Layout = "_LayoutSellerDashboard";
    var data = Context.Session.GetString("CurrentUser");
    var currentUserData = JsonConvert.DeserializeObject<User>(data);
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<body>

    <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
         aria-labelledby="pills-dashboard-tab">
        <div class="dashboard-home">
            <div class="title">
                <h2>My Dashboard</h2>
                <span class="title-leaf">
                    <svg class="icon-width bg-gray">
                        @* <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use> *@
                    </svg>
                </span>
            </div>

            <div class="dashboard-user-name">
                <h6 class="text-content">Hello, <b class="text-title">@currentUserData.Fullname</b></h6>
                <p class="text-content">
                    From your My Account Dashboard you have the ability to
                    view a snapshot of your recent account activity and update your account
                    information. Select a link below to view or edit information.
                </p>
            </div>

            <div class="total-box">
                <div class="row g-sm-4 g-3">
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Delivered Orders</h5>
                                <h3>@ViewBag.model.TotalDeliveredOrders</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/pending.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/pending.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Total Sales</h5>
                                <h3>Rs.@ViewBag.model.TotalSales.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="blur-up lazyload" alt="">
                            <div class="totle-detail">
                              @*   <h5>Order Pending</h5> *@
                                <h5>Pending Profit</h5>
                                <h3>Rs.@ViewBag.model.PendingProfit.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="blur-up lazyload" alt="">
                            <div class="totle-detail">
                                @*   <h5>Order Pending</h5> *@
                                <h5>Pending Orders</h5>
                                <h3>@ViewBag.model.PendingOrders</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>