@{
    ViewData["Title"] = "Purchase Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row my-4">
        <h3>Please transact 5000/- Rs on the following accounts and share the transaction receipt on the specified email.</h3>
        <p></p>
        <p>
            <strong>Account Title</strong>: FOC Fulfilment
            <br />
            <strong>Account Number</strong>: 2312388213120
            <br />
        </p>
        <p>Please share the transaction receipt on focfulfilment@gmail.com</p>
        <hr />
        <small>Our team will verify the payment and will activate your account in next 48 hours. If you are getting trouble in activating your account <a asp-controller="Public" asp-action="ContactUs">Contact Us</a></small>

    </div>
</div>


