@{
    ViewData["Title"] = "Purchase Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row my-4" style="height=40vh;">
        <h3>Please transact 5000/- Rs on the following accounts and share the transaction receipt on the specified email.</h3>
        <p></p>
        <p><strong>Account Title</strong>: FOC Fulfilment</p>
        <p><strong>Account Number</strong>: 2312388213120</p>
        <p>Please share the transaction receipt on focfulfilment@gmail.com</p>
        <hr />
        <small>Our team will verify the payment and will activate your account in next 48 hours</small>
    </div>
</div>


