@model NewPasswordViewModel
<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<section class="log-in-section background-image-2 section-b-space">
		<div class="container-fluid-lg w-100">
			<div class="row">

				<div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
					<div class="log-in-box">
						<div class="log-in-title">
							<h3>Welcome To Fastkart</h3>
							<h4>Change Password</h4>
						</div>

						<div class="input-box">
							<form asp-action="UpdatePassword" class="row g-4">
								<div class="col-12">
									<div class="form-floating theme-form-floating log-in-form">
										<input asp-for="UserId" type="hidden" class="form-control">
										<input asp-for="Token" type="hidden" class="form-control">
										<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-floating theme-form-floating log-in-form">
										<input asp-for="Password" class="form-control" id="newPassword" placeholder="Email Address">
										<label>New Password:</label>
										<span asp-validation-for="Password" class="text-danger"></span>
										<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
									</div>
								</div>

								<div class="col-12">
									<div class="form-floating theme-form-floating log-in-form">
										<input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" placeholder="Email Address">
										<label>Confirm New Password:</label>
										<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
										<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
									</div>
								</div>

								<div class="col-12">
									<div class="forgot-box">
										<a href="forgot.html" class="forgot-password">Forgot Password?</a>
									</div>
								</div>

								<div class="col-12">
									<button class="btn btn-animation w-100 justify-content-center" type="submit">
										Change Password

									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
<script>
	function showSuccessMessageAndRedirect() {
		// Show a success message in a popup or toast
		alert("Your password has been successfully updated. Please login again.");

		// Redirect to the login page after a delay (5 seconds)
		setTimeout(function () {
			window.location.href = "/Seller/Login"; // Replace with your login page URL
		}, 5000); // 5000 milliseconds = 5 seconds
	}
</script>