<div style="text-align:center; margin-top: 50px ; 
 ">
	<h2 style="text-transform:initial">
		Your password has been changed successfully!
	</h2>
	<div class="col-12" style=" margin: 100px 0px 204px 0px;">
		<button type="submit" style="font-size:20px ; background-color: #0da487 ; padding:16px ;border: none;border-radius: 5px;">
			<a asp-action="Login" asp-controller="Seller" style="color:white; padding: 25px;">Please Login</a>
		</button>

	</div>
</div>