@{
    ViewBag.Title = "FOC Fulfillment - Admin Side Verification";
    Layout = "_Layout";
    ViewData["Title"] = "this is page one title";
}

<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <h3>Verification Email has been sent to your specified email.</h3>
            <p></p>
            <p>Please verify your email in order to proceed with registration</p>
            <a asp-action="AdminLogin" asp-controller="Admin">Login</a>
        </div>
    </div>
</div>
